/* --------------------Generic Class-------------------- */
.center-x{
    
    display: flex;
    justify-content: center;
    justify-items: center;

}
.center-y{
    display: flex;
    align-content: center;
    align-items: center;
}
.center-text{
    text-align: center;
}

body{
    overflow-x: hidden;
}
.row{
    width: 100% !important;
    margin: 0 !important;
}
.detail{
    font-weight: bold !important;
    color: #9e5d85 !important;
}
.input-style{
    border-radius: 2rem !important;
    background-color: transparent !important;
    border-width: 3px !important;
}

.input-style::placeholder{
    color: white !important;
    font-weight: bold;
}
.input{
    width: 50% !important;
    margin-bottom: 0 !important;
    
}

/* --------------------------------------------------- */


/* ---------------------index.html Class--------------- */
.base {
    background-image: url(./helpers/noaa-ZVhm6rEKEX8-unsplash.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    height: 50vh;
    min-height: 300px;
    
}

.header{
    width: 100vw !important;
    justify-content: space-between;
    margin: 0px !important;
}
.icon{
    color: white;
    font-size: 5rem;
    margin-right: 1rem;
   }

   .back{
    width: 1rem !important;
    height: 3rem !important;
    overflow: hidden;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-left: 2%;
}
.iconBack{
    width: 2rem !important;
    height: 3rem !important;
    margin-top: -0.5rem;
    margin-left: -1rem;
}
.title-home{
    color: white;
    font-weight: bold;
    font-size: 4rem;  
}
.description-home{
    margin: 2rem;
    color: white;
    font-size: 2rem;
}
.btn-gradient {
    background: linear-gradient(-90deg,#f0c375 ,#e5c089,  #a9a1b7);
}
.button{
    margin:  2vh;
    border: transparent !important;
    font-size: 2rem !important;
    color: #454b65 !important;
    border-radius: 2rem !important;
    box-shadow: 0.5rem 0.5rem rgb(59, 59, 59,0.5);

}

.button:hover{
    background: linear-gradient(-90deg,#fecb56 , #f28f56,#9e5d85);
    color: white !important;
}
/* --------------------------------------------------- */

/* ---------------------Search.html Class--------------- */
.descripText{
    margin-bottom: 3rem !important;
    font-size: 1.5rem ;
    width: 15rem;
}

.location{
    font-size: 1.5rem ;
    margin-top: 1rem !important;
}
.type{
    font-size: 2rem;

}
/* --------------------------------------------------- */










.topbar{
    background: linear-gradient(-90deg,#fecb56 , #f28f56,#9e5d85);
    width: 100% !important;
    height: 3.5rem;
    align-content: space-between!;
    min-height: 10px;
    max-height: 100px;
    position: sticky;
}







.buttonPrincipal {
    width: 52rem;
    min-width: 15rem;
    height: 8rem;
    min-height: 4rem;
}
.secondButton {

    width: 25rem;
    min-width: 9rem;
    height: 8rem;
    min-height: 4rem;
}



.input1{
    margin: 0 auto;
}
.column{
    display: grid;
    margin: 2rem;
}
.row-temperature{
    text-align: center;
}
.value-temperature{
    font-size: 8rem;
}
p{
    margin: 0px !important;
}

.value{
    margin-bottom: 3rem !important;
    font-size: 4rem;
    text-align: right;
}
.value-UVhealt{
    margin-bottom: 4rem !important;
    font-size: 3rem;
    text-align: right;
}
.card{
    
    border-left: hidden !important;
    border-top: hidden !important;
    border-image:linear-gradient(-90deg,#fecb56 , #f28f56,#9e5d85) !important;
    border-width: 1rem !important;
    border-image-slice: 1 !important; /* Ancho del borde */
    min-width: 18rem !important;
}
.card-style{
    
    display: grid;
    align-content: space-between;
    width: 18rem !important;
    height: 14rem !important;
    padding: 1rem !important;
}
.content{
    display: grid !important;
}

.row-unlocation {
    margin-top: 10%;
}

.p-unlocation {
    font-size: 3rem;
    text-align: center;

}
.notVisibility{
    display: none !important;
}
.table-content{
    height: 45rem;

}

.table-weather{
    background-color: transparent;
    margin: 0 !important;
}
.headertable{
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    text-align: center;
}
.history{
    overflow: auto !important;
    width: 100%;
}

.card-list{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60rem !important;
    height: 42rem;
    border: solid;
    margin-top: 2rem;
    border-radius: 10%;
    border-color: #fecb56;
    overflow:  hidden !important;
}

.card-list-body{
    height: 39rem;
    overflow-x: auto;
}

@media (max-width: 900px){
    .icon{
        font-size: 3rem;
    }
    .title-home{
        font-size: 3rem;  
    }
    .description-home{
        font-size: 1.5rem;
    }
    .input{
        width: 100% !important;
    }
    #back{
        display:none;
    }
    .value-temperature{
        font-size: 4rem;
        justify-self: center;
    }
    .descripText{
        margin-bottom: 3rem !important;
        font-size: 1rem ;
        width: 10rem;
    }
    .location{
        font-size: 1rem;
    }
    .descripText{
        font-size: 1rem ;
    }

    .table-weather{
        margin-top: 2rem;
    }
    .card{
        margin: 1rem;
    }
    
}